body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.remove.m-done
    {
    text-decoration: none;
    }

.m-done
	{
	text-decoration: line-through;
	}
	
.text
    {
    font-size: 16px;
    font-weight: bold;
    }

.loading
    {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 1;
    opacity: 0.5;
    }
    
.login-link
    {
    position: absolute;    
    right: 10px;
    top: 10px;
    color: #FFFFFF;
    }
    
    .login-link:hover
        {
        color: #ABABAB;
        }
        
.login-form
    {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 160px;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    z-index: 1;
    }