body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.remove.m-done
    {
    text-decoration: none;
    }

.m-done
	{
	text-decoration: line-through;
	}
	
.text
    {
    font-size: 16px;
    font-weight: bold;
    }