<!DOCTYPE html>
<html>
<head>
	<script src="/bower/bower_components/jquery/jquery.js"></script>
	<script src="/bower/bower_components/underscore/underscore.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<h1>The List</h1>
	<a href="#" class="logout-link">Log out</a>
<!--
	<% block('header', "Test header2") %>
	<h2><%=blocks.header %></h2>
-->
    <ul class="list-wrapper"></ul>
	<form class="form">
		<input name="input" class="input" placeholder="What do you wish?.." />
		<button type="submit" class="submit">Submit</button>
	</form>
	<div class="loading"></div>
	<script>
	    function getList() {
	        $('.loading').show();
        	$.getJSON('/items/list', function(data) {
        	    $('.list-wrapper').empty();
    	        $(data).each(function(num) {
    	            
    	            var doneState = '',
    	                checkState = '';
    	            if (this.done == true) {
    	                doneState = 'm-done';
    	                checkState = 'checked';
    	            };
    	           
    	            var validDate = new Date(this.date),
    	                monthCorrector = '',
    	                minuteCorrector = '';
    	            
    	            if (validDate.getMonth() < 9) {
    	                monthCorrector = '0';
    	            };
    	            
    	            if (validDate.getMinutes() < 10) {
    	                minuteCorrector = '0';
    	            };
    	    
    	            var  realDate = 'Добавлено ' + validDate.getDate() + '-' + monthCorrector + (validDate.getMonth() + 1) + '-' + validDate.getFullYear() + ' в ' + validDate.getHours() + ':' + minuteCorrector + validDate.getMinutes() + ' ';
    	           
    	            _.templateSettings = {
                        interpolate: /\{\{=(.+?)\}\}/g,
                        evaluate: /\{\{(.+?)\}\}/g,
                    };
    	            
    	            var template = '<li id="{{=data.id}}" class="item_no_{{=number}}">' +
                                    '<input type="checkbox" class="checkbox" {{=checked}}>' +
                                    '<span class="date {{=done}}">{{=date}}</span>' +
                                    '<span class="text {{=done}}">&laquo;{{=data.text }}&raquo;</span>' +
                                    '<button class="remove">Remove</button>' +
                                '</li>';
                    
                    var item = _.template(template, {data: this, number: num, checked: checkState, done: doneState, date: realDate});            
                    
                    $(item).appendTo('.list-wrapper');
                    $('.loading').hide();
                
    	        });
    	    });
	    };
	    
	    function itemIdSend(address, itemID) {
	        $.ajax({
		        url: address,
		        method: 'POST',
		        data: {id: itemID},
		        complete: function() {
				    getList();
				}
		   });
	    };
	    
	    getList();
		  
		$('.form').on('submit', function() {
			$.ajax({
				url: '/items/add',
				method: 'POST',
				data: $(this).serialize(),
				complete: function() {
				    getList();
				}
			});
			
			return false;
		});
		
	    $('.list-wrapper').on('click', '.remove', function() {
	        var remID = $(this).parent().attr('id');
		    itemIdSend('/items/remove/', remID);
	    });
	   
	    $('.list-wrapper').on('click', '.checkbox', function() {
	        var $this = $(this);
	        var itemID = $(this).parent().attr('id');
	        if ($this.is(':checked')) {
	            $this.siblings().addClass('m-done');
	        } else {
	            $this.siblings().removeClass('m-done');
	        };
	        itemIdSend('/items/done/', itemID);
	    });
	    
	    $('.logout-link').on('click', function() {
	        $.ajax({
		        url: '/logout',
		        method: 'POST',
		        complete: function() {
				    window.location.href = '/';
				}
		   });
	        
	    });
	   
	</script>
</body>
</html>
