<!DOCTYPE html>
<html>
<head>
	<script src="/bower/bower_components/jquery/jquery.js"></script>
	<script src="/bower/bower_components/underscore/underscore.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>

<button class="remove">Удалить</button>
	<h1>The List</h1>
	<% block('header', "Test header2") %>
	<h2><%=blocks.header %></h2>
    <ul class="list-wrapper"></ul>
	<form class="form">
		<input name="input" class="input" placeholder="What do you wish?.." />
		<button type="submit" class="submit">Submit</button>
	</form>
	
	<script>
/*	
    	$.getJSON( "ajax/test.json", function( data ) {
            var items = [];
            $.each( data, function( key, val ) {
                items.push( "<li id='" + key + "'>" + val + "</li>" );
            });
    
            $( "<ul/>", {
                "class": "my-new-list",
                html: items.join( "" )
            ).appendTo( "body" );
        });
    	
*/		
    	$.getJSON('/items/list', function(data) {
	         console.log(data);
	        $(data).each(function() {
	   //         console.log(this);
	            var list = '<li>' +
                                '<input type="checkbox">' +
                                    '<span>' + this.date + '</span>' +
                                    '<span>' + this.text + '</span>' +
                                    '<button>Remove</button>' +
                                '</input>' +
                            '</li>';
                $(list).appendTo('.list-wrapper');   
	        });
                            
	    });
		
//		console.log(item); 
		  
		$('.form').on('submit', function() {
			$.ajax({
				url: '/items/add',
				method: 'POST',
				data: $(this).serialize(),
				complete: function() {
				    console.log(this);
				}
			});
			return false;
		});
 
        
/*
	    $('.submit').on('click', function() {

	    });	
	
		$('.submit').on('click', function() {
			var $value = $('.input').val();
			if ($value) {
				if (confirm('Добавить строку?')) {
					$value = $('.input').val();
					var content = 	'<div class="string">' +
										'<input class="b-check" type="checkbox">' +
											'<span class="value">' + $value + '</span>' +
										'</input>' +
										'<button class="remove">Удалить</button>' +
									'</div>';
					$(content).insertAfter('h1');
					$('.input').val('');
				}
			} else {
				alert('Пустая строка');
			};
		});
		
		$('.remove').click(function() {
			alert('123');
		
		});
	
		$(document.forms['formm']).on('submit', function() {
			$.ajax({
				url: '/',
				method: 'POST',
				data: form.serialize(),
				complete: function() {
				}
			});
		});
	*/	
	</script>
	
</body>
</html>
