<!DOCTYPE html>
<html>
<head>
	<script src="/bower/bower_components/jquery/jquery.js"></script>
	<script src="/bower/bower_components/underscore/underscore.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<h1>The List</h1>
    <ul class="list-wrapper"></ul>
	<div class="loading"></div>
    <a href="#" class="login-link">Log in</a>
    <form class="login-form">
        <span class="login-title">Be authorized... be cool!</span>
        <input type="text" name="user" placeholder="Usename" value="dten">
        <input type="password" name="pass" placeholder="Password" value="123">
        <button type="submit">Ok</button>
        <button type="reset">Return</button>
    </form>
    
	<script>
	    function getList() {
	        $('.loading').show();
        	$.getJSON('/items/list', function(data) {
        	    $('.list-wrapper').empty();
    	        $(data).each(function(num) {
    	            
    	            var doneState = '';
    	            if (this.done == true) {
    	                doneState = 'm-done';
    	            };
    	           
    	            var validDate = new Date(this.date),
    	                monthCorrector = '',
    	                minuteCorrector = '';
    	            
    	            if (validDate.getMonth() < 9) {
    	                monthCorrector = '0';
    	            };
    	            
    	            if (validDate.getMinutes() < 10) {
    	                minuteCorrector = '0';
    	            };
    	    
    	            var  realDate = 'Добавлено ' + validDate.getDate() + '-' + monthCorrector + (validDate.getMonth() + 1) + '-' + validDate.getFullYear() + ' в ' + validDate.getHours() + ':' + minuteCorrector + validDate.getMinutes() + ' ';
    	           
    	            _.templateSettings = {
                        interpolate: /\{\{=(.+?)\}\}/g,
                        evaluate: /\{\{(.+?)\}\}/g,
                    };
    	            
    	            var template = '<li id="{{=data.id}}" class="item_no_{{=number}}">' +
                                    '<span class="date {{=done}}">{{=date}}</span>' +
                                    '<span class="text {{=done}}">&laquo;{{=data.text }}&raquo;</span>' +
                                '</li>';
                    
                    var item = _.template(template, {data: this, number: num, done: doneState, date: realDate});            
                    
                    $(item).appendTo('.list-wrapper');
                    $('.loading').hide();
                
    	        });
    	    });
	    };
	    
	    getList();
	    
	    $('.login-link').on('click', function() {
	        $('.loading').show();
	        $('.login-form').show();
	        return false;
	    });
		  
		$('.login-form').on('submit', function() {
			$.ajax({
				url: '/login',
				method: 'POST',
				data: $(this).serialize(),
				complete: function() {
				    window.location.href = '/edit';
				}
			});
			return false;
		});
		
		$('.login-form').on('reset', function() {
		    $('.loading').hide();
		    $(this).hide();   
		});
	   
	</script>
</body>
</html>