<!DOCTYPE html>
<html>
<head>
	<script src="/bower/bower_components/jquery/jquery.js"></script>
	<script src="/bower/bower_components/underscore/underscore.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>

<!-- <button class="remove">Удалить</button> -->
	<h1>The List</h1>
	<% block('header', "Test header2") %>
	<h2><%=blocks.header %></h2>
    <ul class="list-wrapper"></ul>
	<form class="form">
		<input name="input" class="input" placeholder="What do you wish?.." />
		<button type="submit" class="submit">Submit</button>
	</form>
	
	<script>
	    function getList() {
	        $('.list-wrapper').empty();
        	$.getJSON('/items/list', function(data) {
    	        $(data).each(function(num) {
    	   
    	            var item = '<li id="' + this.id + '" class="item_no_' + num + '">' +
                                    '<input type="checkbox" class="checkbox">' +
                                        '<span>' + this.date + '</span>' +
                                        '<span class="text">' + this.text + '</span>' +
                                        '<button class="remove">Remove</button>' +
                                    '</input>' +
                                '</li>';
                    $(item).appendTo('.list-wrapper');   
    	        });
    	    });
	    };
	    
	    getList();
		  
		$('.form').on('submit', function() {
			$.ajax({
				url: '/items/add',
				method: 'POST',
				data: $(this).serialize(),
				complete: function() {
				    getList();
				}
			});
			
			return false;
		});
		
	    $('.list-wrapper').on('click', '.remove', function() {
		    console.log($(this).parent().attr('id'));
	        var remID = $(this).parent().attr('id');
		    $.ajax({
		       url: '/items/remove/',
		       method: 'POST',
		       data: {id:remID },
		       complete: function() {
		           getList();
		       }
		   });
	   });
 
	</script>
	
</body>
</html>
